<div class="container">
  <div class="columns is-centered">
    <div class="column is-two-thirds">

      <h1 class="title is-2">Create new event </h1>
      <%= render 'shared/occasion_form' %>

    </div>
  </div>
</div>
